# Virtual env
venv/

# Data & Models
Garbage_dataset/
Garbage_dataset.zip
model/
runs/
src/runs/
evidence/
*.pt

# n8n workflow folder
CleanCam n8n/
src/CleanCam n8n/

# Python cache
__pycache__/
*.pyc

# Secrets
.env
service_account.json

# Notebook
src/main.ipynb
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Merge artifacts
*.resolved
walkthrough.md